# Conhecendo o arquivo JSON

In [56]:
# Codigo feito com base nos tutoriais em Aula da Alura
# Caso tenha dificuldade em subir o arquivo via menu lateral, podemos usar um INPUT para disponibilizar o arquivo
# from google.colab import files
# uploaded = files.upload()

In [57]:
import pandas as pd
import numpy as np
dados = pd.read_json('Telco-Customer-Churn.json')
dados.columns

Index(['customerID', 'Churn', 'customer', 'phone', 'internet', 'account'], dtype='object')

In [58]:
dados.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [59]:
dados['customer'][0]

{'Dependents': 'Yes',
 'Partner': 'Yes',
 'SeniorCitizen': 0,
 'gender': 'Female',
 'tenure': 9}

In [60]:
dados['phone'][0]

{'MultipleLines': 'No', 'PhoneService': 'Yes'}

In [61]:
dados['internet'][0]

{'DeviceProtection': 'No',
 'InternetService': 'DSL',
 'OnlineBackup': 'Yes',
 'OnlineSecurity': 'No',
 'StreamingMovies': 'No',
 'StreamingTV': 'Yes',
 'TechSupport': 'Yes'}

In [62]:
dados['account'][0]

{'Charges': {'Monthly': 65.6, 'Total': '593.3'},
 'Contract': 'One year',
 'PaperlessBilling': 'Yes',
 'PaymentMethod': 'Mailed check'}

# Organizando os dados para melhorar a compreensão e análise

In [63]:
# Conseguimos visualizar acima que os dados estão agrupados em uma coluna, o que dificulta nossa análise;
# O método pd.json_normalize() conseguimos mapeia cada chave do dicionário em uma nova coluna e os valores contidos se tornarão as linhas;

customer_dados = pd.json_normalize(dados.customer)
customer_dados

      gender  SeniorCitizen Partner Dependents  tenure
0     Female              0     Yes        Yes       9
1       Male              0      No         No       9
2       Male              0      No         No       4
3       Male              1     Yes         No      13
4     Female              1     Yes         No       3
...      ...            ...     ...        ...     ...
7262  Female              0      No         No      13
7263    Male              0     Yes         No      22
7264    Male              0      No         No       2
7265    Male              0     Yes        Yes      67
7266    Male              0     Yes        Yes      63

[7267 rows x 5 columns]

In [64]:
phone_dados = pd.json_normalize(dados.phone)
phone_dados

     PhoneService     MultipleLines
0             Yes                No
1             Yes               Yes
2             Yes                No
3             Yes                No
4             Yes                No
...           ...               ...
7262          Yes                No
7263          Yes               Yes
7264          Yes                No
7265          Yes                No
7266           No  No phone service

[7267 rows x 2 columns]

In [65]:
internet_dados = pd.json_normalize(dados.internet)
internet_dados

,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,DSL,No,Yes,No,Yes,Yes,No
1,DSL,No,No,No,No,No,Yes
2,Fiber optic,No,No,Yes,No,No,No
3,Fiber optic,No,Yes,Yes,No,Yes,Yes
4,Fiber optic,No,No,No,Yes,Yes,No
...,...,...,...,...,...,...,...
7262,DSL,Yes,No,No,Yes,No,No
7263,Fiber optic,No,No,No,No,No,Yes
7264,DSL,No,Yes,No,No,No,No
7265,DSL,Yes,No,Yes,Yes,No,Yes
7266,DSL,Yes,Yes,Yes,No,Yes,Yes

In [66]:
account_dados = pd.json_normalize(dados.account)
account_dados

,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,One year,Yes,Mailed check,65.60,593.3
1,Month-to-month,No,Mailed check,59.90,542.4
2,Month-to-month,Yes,Electronic check,73.90,280.85
3,Month-to-month,Yes,Electronic check,98.00,1237.85
4,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...
7262,One year,No,Mailed check,55.15,742.9
7263,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,Month-to-month,Yes,Mailed check,50.30,92.75
7265,Two year,No,Mailed check,67.85,4627.65
7266,Two year,No,Electronic check,59.00,3707.6

# Organizando o DataFrame

In [67]:
# Função para realizar a normalização dos objetos json e a junção das informações em um DataFrame

def normalize_json(dataframe):
    return_dataframe = pd.DataFrame()
    for column in list(dados.columns[2:]):
        dataframe_column = pd.json_normalize(dataframe[column])
        return_dataframe = pd.concat([return_dataframe, dataframe_column], axis=1)
    
    return pd.concat([dataframe[list(dados.columns[:2])], return_dataframe], axis=1)

In [68]:
dados = normalize_json(dados)
dados

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

# Avaliando e corrigindo os dados

In [69]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [70]:
# O método value_counts() verifica nas colunas possíveis categorias com nomes incorretos ou incoerentes

for coluna in dados.columns:
    print('---')
    print(dados[coluna].value_counts())

---
0002-ORFBO    1
6614-VBEGU    1
6637-KYRCV    1
6635-MYYYZ    1
6635-CPNUN    1
             ..
3374-TTZTK    1
3374-PZLXD    1
3374-LXDEV    1
3373-YZZYM    1
9995-HOTOH    1
Name: customerID, Length: 7267, dtype: int64
---
No     5174
Yes    1869
        224
Name: Churn, dtype: int64
---
Male      3675
Female    3592
Name: gender, dtype: int64
---
0    6085
1    1182
Name: SeniorCitizen, dtype: int64
---
No     3749
Yes    3518
Name: Partner, dtype: int64
---
No     5086
Yes    2181
Name: Dependents, dtype: int64
---
1     634
72    369
2     246
3     207
4     185
     ...
38     60
39     59
44     54
36     50
0      11
Name: tenure, Length: 73, dtype: int64
---
Yes    6560
No      707
Name: PhoneService, dtype: int64
---
No                  3495
Yes                 3065
No phone service     707
Name: MultipleLines, dtype: int64
---
Fiber optic    3198
DSL            2488
No             1581
Name: InternetService, dtype: int64
---
No                     3608
Yes                    2078
No internet service    1581
Name: OnlineSecurity, dtype: int64
---
No                     3182
Yes                    2504
No internet service    1581
Name: OnlineBackup, dtype: int64
---
No                     3195
Yes                    2491
No internet service    1581
Name: DeviceProtection, dtype: int64
---
No                     3582
Yes                    2104
No internet service    1581
Name: TechSupport, dtype: int64
---
No                     2896
Yes                    2790
No internet service    1581
Name: StreamingTV, dtype: int64
---
No                     2870
Yes                    2816
No internet service    1581
Name: StreamingMovies, dtype: int64
---
Month-to-month    4005
Two year          1743
One year          1519
Name: Contract, dtype: int64
---
Yes    4311
No     2956
Name: PaperlessBilling, dtype: int64
---
Electronic check             2445
Mailed check                 1665
Bank transfer (automatic)    1589
Credit card (automatic)      1568
Name: PaymentMethod, dtype: int64
---
20.05     65
19.85     46
19.90     46
19.70     45
19.55     45
          ..
23.45      1
116.55     1
106.85     1
68.55      1
67.85      1
Name: Charges.Monthly, Length: 1585, dtype: int64
---
           11
20.2       11
19.75       9
19.55       9
19.9        9
           ..
272         1
1426.45     1
371.6       1
6786.4      1
3707.6      1
Name: Charges.Total, Length: 6531, dtype: int64

In [71]:
# Conseguimos verificar que a coluna CHUR tem dados sem classificação, o que é um problema e precisa ser removido

dados['Churn'].value_counts()

No     5174
Yes    1869
        224
Name: Churn, dtype: int64

In [72]:
# Removendo valores vazios em Churn

dados = dados[dados['Churn']!= '']
dados.reset_index(drop=True, inplace=True)

In [73]:
# Verificando ser a ariável Churn não apresenta mais a classe com nome vazio

dados['Churn'].value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

In [74]:
# Vamos selecionar todas as linhas onde o tenure = 0, ou seja, os clientes que assinaram o serviço por 0 meses
# e mostrar os resultados para as colunas Charges.Total e Charges.Monthly.

dados.query('tenure == 0')[['Charges.Total', 'Charges.Monthly', 'tenure']]

     Charges.Total  Charges.Monthly  tenure
945                           56.05       0
1731                          20.00       0
1906                          61.90       0
2025                          19.70       0
2176                          20.25       0
2250                          25.35       0
2855                          73.35       0
3052                          25.75       0
3118                          52.55       0
4054                          80.85       0
5433                          19.85       0

In [75]:
# Verificamos que quando tenure = 0, os dados de Charges.Total é vazio (' ').
# Vamos agora selecionar os dados onde Charges.Total = ' ', mostrando os resultados para Charges.Monthly e tenure.
# Pegando todas as linhas onde a coluna "Charges.Total" é vazia.

dados[dados['Charges.Total'] == ' '][['Charges.Total', 'Charges.Monthly', 'tenure']]

     Charges.Total  Charges.Monthly  tenure
945                           56.05       0
1731                          20.00       0
1906                          61.90       0
2025                          19.70       0
2176                          20.25       0
2250                          25.35       0
2855                          73.35       0
3052                          25.75       0
3118                          52.55       0
4054                          80.85       0
5433                          19.85       0

In [76]:
# Percebe-se que todas as linhas de Charges.Total que estão vazias é porque o cliente não assinou nem por um mês. Temos que preencher esse valor com o mesmo valor que está presente em "Charges.Monthly" pois esse representa o total.

idx = dados[dados['Charges.Total'] == ' '].index
dados.loc[idx, "Charges.Total"] = dados.loc[idx, "Charges.Monthly"]

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [77]:
dados.query('tenure == 0')[['Charges.Total', 'Charges.Monthly', 'tenure']]

     Charges.Total  Charges.Monthly  tenure
945          56.05            56.05       0
1731          20.0            20.00       0
1906          61.9            61.90       0
2025          19.7            19.70       0
2176         20.25            20.25       0
2250         25.35            25.35       0
2855         73.35            73.35       0
3052         25.75            25.75       0
3118         52.55            52.55       0
4054         80.85            80.85       0
5433         19.85            19.85       0

In [78]:
# Vamos modificar o tipo da variável para float, uma vez que o tipo estava como object.

dados['Charges.Total'] = dados['Charges.Total'].astype('float64')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

# Extra
## Traduzindo colunas do DataFrame

In [79]:
# Listagem das colunas atuais para fazer a tradução das colunas, pensando em pessoas que não tem intimidade com o inglês
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   Churn             7043 non-null   object
 2   gender            7043 non-null   object
 3   SeniorCitizen     7043 non-null   int64
 4   Partner           7043 non-null   object
 5   Dependents        7043 non-null   object
 6   tenure            7043 non-null   int64
 7   PhoneService      7043 non-null   object
 8   MultipleLines     7043 non-null   object
 9   InternetService   7043 non-null   object
 10  OnlineSecurity    7043 non-null   object
 11  OnlineBackup      7043 non-null   object
 12  DeviceProtection  7043 non-null   object
 13  TechSupport       7043 non-null   object
 14  StreamingTV       7043 non-null   object
 15  StreamingMovies   7043 non-null   object
 16  Contract          7043 non-null   object
 17  PaperlessBilling  7043 non-null   object
 18  PaymentMethod     7043 non-null   object
 19  Charges.Monthly   7043 non-null   float64
 20  Charges.Total     7043 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

In [80]:
# Criando um novo DataFrame com o De : Para das novas colunas

dados_traduzidos = dados.rename(columns={
    'gender':'Genero',
    'SeniorCitizen':'MelhorIdade',
    'Partner':'Conjuge',
    'Dependents':'Dependentes',
    'tenure':'MesesContrato',
    'PhoneService':'ServicoTelefonico',
    'MultipleLines':'MultiplosTelefones',
    'InternetService':'ServicoInternet',
    'OnlineSecurity':'SergurancaOnline',
    'OnlineBackup':'BackupOnline',
    'DeviceProtection':'ProtecaoDevice',
    'Contract':'TipoContrato',
    'PaperlessBilling':'TipoDaFatura',
    'PaymentMethod':'FormaDePagamento',
    'Charges.Monthly':'Cobranca.Mes',
    'Charges.Total':'Cobranca.Total'
})

In [81]:
# Conferir se o RENAME está correto e saiu tudo conforme esperado

dados_traduzidos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customerID          7043 non-null   object
 1   Churn               7043 non-null   object
 2   Genero              7043 non-null   object
 3   MelhorIdade         7043 non-null   int64
 4   Conjuge             7043 non-null   object
 5   Dependentes         7043 non-null   object
 6   MesesContrato       7043 non-null   int64
 7   ServicoTelefonico   7043 non-null   object
 8   MultiplosTelefones  7043 non-null   object
 9   ServicoInternet     7043 non-null   object
 10  SergurancaOnline    7043 non-null   object
 11  BackupOnline        7043 non-null   object
 12  ProtecaoDevice      7043 non-null   object
 13  TechSupport         7043 non-null   object
 14  StreamingTV         7043 non-null   object
 15  StreamingMovies     7043 non-null   object
 16  TipoContrato        7043 non-null   object
 17  TipoDaFatura        7043 non-null   object
 18  FormaDePagamento    7043 non-null   object
 19  Cobranca.Mes        7043 non-null   float64
 20  Cobranca.Total      7043 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

## Criar uma nova coluna com o valor diário para possíveis insights

In [82]:
dados_traduzidos[dados_traduzidos['MesesContrato'] == 0]

,customerID,Churn,Genero,MelhorIdade,Conjuge,Dependentes,MesesContrato,ServicoTelefonico,MultiplosTelefones,ServicoInternet,...,BackupOnline,ProtecaoDevice,TechSupport,StreamingTV,StreamingMovies,TipoContrato,TipoDaFatura,FormaDePagamento,Cobranca.Mes,Cobranca.Total
945,1371-DWPAZ,No,Female,0,Yes,Yes,0,No,No phone service,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,56.05
1731,2520-SGTTA,No,Female,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,20.00
1906,2775-SEFEE,No,Male,0,No,Yes,0,Yes,Yes,DSL,...,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,61.90
2025,2923-ARZLG,No,Male,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,19.70
2176,3115-CZMZD,No,Male,0,No,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,20.25
2250,3213-VVOLG,No,Male,0,Yes,Yes,0,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,25.35
2855,4075-WKNIU,No,Female,0,Yes,Yes,0,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,73.35
3052,4367-NUYAO,No,Male,0,Yes,Yes,0,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,25.75
3118,4472-LVYGI,No,Female,0,Yes,Yes,0,No,No phone service,DSL,...,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,52.55
4054,5709-LVOEQ,No,Female,0,Yes,Yes,0,Yes,No,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,80.85
5433,7644-OMVMY,No,Male,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,19.85

In [83]:
# Crie uma nova coluna contendo os gastos diários do(a) cliente
# Nesta nova coluna, na primeira tentativa, vou considerar que todos os meses tem 30 dias

for index, row in dados_traduzidos.iterrows():
    dados_traduzidos.loc[index, 'GastoDiario30Dias'] = row['Cobranca.Mes'] / 30

dados_traduzidos

,customerID,Churn,Genero,MelhorIdade,Conjuge,Dependentes,MesesContrato,ServicoTelefonico,MultiplosTelefones,ServicoInternet,...,ProtecaoDevice,TechSupport,StreamingTV,StreamingMovies,TipoContrato,TipoDaFatura,FormaDePagamento,Cobranca.Mes,Cobranca.Total,GastoDiario30Dias
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.30,2.186667
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.40,1.996667
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85,2.463333
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85,3.266667
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.40,2.796667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,Yes,No,No,One year,No,Mailed check,55.15,742.90,1.838333
7039,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.70,2.836667
7040,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75,1.676667
7041,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65,2.261667
7042,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.60,1.966667

## Criar a mesma coluna com valores diário com pensando de uma outra forma

In [84]:
# Utilizando a mesma ideia de criar uma nova coluna contendo os gastos diários
# Acredito te uma outra forma de conseguir esse resultado, talvez um pouco mais acetiva quando falamos em gastos diários (365 dias no ano)
# Considerando que nem todos os meses tem 30 dias, e considerando que temos 365 dias (desconsiderando os anos bisextos)
# Pensei em (valor mensal * 12 meses) / 365 dias do ano 

for index, row in dados_traduzidos.iterrows():
  dados_traduzidos.loc[index, 'GastoDiario365Dias'] = (row['Cobranca.Mes'] * 12) / 365

dados_traduzidos

,customerID,Churn,Genero,MelhorIdade,Conjuge,Dependentes,MesesContrato,ServicoTelefonico,MultiplosTelefones,ServicoInternet,...,TechSupport,StreamingTV,StreamingMovies,TipoContrato,TipoDaFatura,FormaDePagamento,Cobranca.Mes,Cobranca.Total,GastoDiario30Dias,GastoDiario365Dias
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.30,2.186667,2.156712
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.40,1.996667,1.969315
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85,2.463333,2.429589
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85,3.266667,3.221918
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.40,2.796667,2.758356
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,Yes,No,No,One year,No,Mailed check,55.15,742.90,1.838333,1.813151
7039,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.70,2.836667,2.797808
7040,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75,1.676667,1.653699
7041,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65,2.261667,2.230685
7042,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.60,1.966667,1.939726

# Novo arquivo limpo e organizado para a próxima semana do challenge

In [85]:
dados_traduzidos.to_json("Telco-Customer-Churn-limpeza.json")

# New Section